name: "ohmycode-runner"
services:
  ohmycode-runner-manager:
    container_name: ohmycode-runner-manager
    build:
      context: ../
      dockerfile: docker/Dockerfile
    stop_grace_period: 1s
    restart: always
    volumes:
      - type: bind
        source: ../data
        target: /app/data
        bind:
          create_host_path: true
  ohmycode-runner-go:
    container_name: ohmycode-runner-go
    networks:
      - isolated-network-go
    build:
      context: go
      dockerfile: Dockerfile
    stop_grace_period: 1s
    restart: always
    volumes:
      - type: bind
        source: ../data/go/requests
        target: /app/requests
        bind:
          create_host_path: true
      - type: bind
        source: ../data/go/results
        target: /app/results
        bind:
          create_host_path: true
    tmpfs:
      - /app/go:mode=1777,uid=1000,gid=1000
      - /app/tmp:mode=1777,uid=1000,gid=1000
  ohmycode-runner-java:
    container_name: ohmycode-runner-java
    networks:
      - isolated-network-java
    build:
      context: java
      dockerfile: Dockerfile
    stop_grace_period: 1s
    restart: always
    volumes:
      - type: bind
        source: ../data/java/requests
        target: /app/requests
        bind:
          create_host_path: true
      - type: bind
        source: ../data/java/results
        target: /app/results
        bind:
          create_host_path: true
    tmpfs:
      - /app/java:mode=1777,uid=1000,gid=1000
      - /app/tmp:mode=1777,uid=1000,gid=1000
  ohmycode-runner-json:
    container_name: ohmycode-runner-json
    networks:
      - isolated-network-json
    build:
      context: json
      dockerfile: Dockerfile
    stop_grace_period: 1s
    restart: always
    volumes:
      - type: bind
        source: ../data/json/requests
        target: /app/requests
        bind:
          create_host_path: true
      - type: bind
        source: ../data/json/results
        target: /app/results
        bind:
          create_host_path: true
    tmpfs:
      - /app/tmp:mode=1777,uid=1000,gid=1000
  ohmycode-runner-markdown:
    container_name: ohmycode-runner-markdown
    networks:
      - isolated-network-markdown
    build:
      context: markdown
      dockerfile: Dockerfile
    stop_grace_period: 1s
    restart: always
    volumes:
      - type: bind
        source: ../data/markdown/requests
        target: /app/requests
        bind:
          create_host_path: true
      - type: bind
        source: ../data/markdown/results
        target: /app/results
        bind:
          create_host_path: true
    tmpfs:
      - /app/tmp:mode=1777,uid=1000,gid=1000
  ohmycode-runner-mysql8:
    container_name: ohmycode-runner-mysql8
    networks:
      - isolated-network-mysql8
    build:
      context: mysql8
      dockerfile: Dockerfile
    cap_add:
      - SYS_NICE
    stop_grace_period: 1s
    restart: always
    volumes:
      - type: bind
        source: ../data/mysql8/requests
        target: /app/requests
        bind:
          create_host_path: true
      - type: bind
        source: ../data/mysql8/results
        target: /app/results
        bind:
          create_host_path: true
      - ./mysql8/runner.sh:/docker-entrypoint-initdb.d/runner.sh
    tmpfs:
      - /var/lib/mysql:mode=1777,uid=1000,gid=1000
      - /app/tmp:mode=1777,uid=1000,gid=1000
    command: --default-authentication-plugin=mysql_native_password --log_error_verbosity=1 --skip-log-bin
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD:-mysql8root}
  ohmycode-runner-php82:
    container_name: ohmycode-runner-php82
    networks:
      - isolated-network-php82
    build:
      context: php82
      dockerfile: Dockerfile
    stop_grace_period: 1s
    restart: always
    volumes:
      - type: bind
        source: ../data/php82/requests
        target: /app/requests
        bind:
          create_host_path: true
      - type: bind
        source: ../data/php82/results
        target: /app/results
        bind:
          create_host_path: true
    tmpfs:
      - /app/tmp:mode=1777,uid=1000,gid=1000
  ohmycode-runner-postgres13:
    container_name: ohmycode-runner-postgres13
    networks:
      - isolated-network-postgres13
    build:
      context: postgres13
      dockerfile: Dockerfile
    cap_add:
      - SYS_NICE
    stop_grace_period: 1s
    restart: always
    volumes:
      - type: bind
        source: ../data/postgres13/requests
        target: /app/requests
        bind:
          create_host_path: true
      - type: bind
        source: ../data/postgres13/results
        target: /app/results
        bind:
          create_host_path: true
      - ./postgres13/runner.sh:/docker-entrypoint-initdb.d/runner.sh
    tmpfs:
      - /var/lib/postgresql/data:mode=1777,uid=1000,gid=1000
      - /app/tmp:mode=1777,uid=1000,gid=1000
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-user}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-password}
      POSTGRES_DB: ${POSTGRES_DB:-mydatabase}
networks:
  isolated-network-go:
    driver: bridge
    internal: true
  isolated-network-java:
    driver: bridge
    internal: true
  isolated-network-json:
    driver: bridge
    internal: true
  isolated-network-markdown:
    driver: bridge
    internal: true
  isolated-network-mysql8:
    driver: bridge
    internal: true
  isolated-network-php82:
    driver: bridge
    internal: true
  isolated-network-postgres13:
    driver: bridge
    internal: true
